body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url(/css/dvdstore.jpg) center;
    font-family: sans-serif;
}

.dvdWindow{
    width: 320px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}